@import './variables.css';

body {
  background: var(--bg-color);
  color: var(--text-color);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding: 2rem;
  max-width: 800px;
  margin: auto;
}

.hero {
  text-align: center;
  padding: 2rem;
}

.hero-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 1rem;
}

.skills-list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1rem;
}

.socials {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 0;
}

li {
  background: lightskyblue;
  color: white;
  text-align: center;
  height: fit-content;
  padding: 5px;
  border-radius: 30px;
  width: 123px;
  white-space: nowrap;
}

.download-btn {
  display: inline-block;
  margin-top: 1rem;
  background: var(--accent-color);
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
}